@import "tailwindcss";
@theme {
  --color-background: #383245;
  --color-foreground: #1c1a22;
  --color-background-accent: #8e2b61;
  --color-background-accent-2: #c4a5f2;
  --color-input: #1c1a22;
  --color-button: #1c1a22;
  --color-button-accent: #8e2b61;
  --color-button-accent-2: #8e2b61;
  --color-button-default: #7956a5;
  --color-accent-text: #c4a5f2;
  --color-disabled: #39314a;
  --color-text: #c4a5f2;
  --color-text-2: #8e2b61;
  --color-accent: #d6c8a3;
  --color-error: #8e2b61;
  --color-popup: #1c1a22;
  --color-tip: #c4a5f2;
  --color-input-border: #8e2b61;
  --color-border: #383245;
  --color-selection: #8e2b61;
  --color-active-nav-text: #8e2b61;
  --color-active-nav-item: #c4a5f2;
  --color-hover-nav-item: #c4a5f2;
  --color-hover-nav-text: #1c1a22;

  --radius-default: 0.5rem;

  --breakpoint-w-805: 805px;
}

body {
  background: var(--color-background);
  color: var(--color-accent-text);
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

.unit-button-shadow {
  box-shadow: none;
  &:hover {
    box-shadow: 4px 4px 0px rgb(214, 200, 163);
  }
}

.unit-button-shadow-disabled {
  box-shadow: none;
}
