@import "tailwindcss";
@theme {
  --color-background: #2a2134;
  --color-foreground: #17131c;
  --color-input: #17131c;
  --color-button: #17131c;
  --color-popup: #17131c;

  --color-background-accent: #8a3e8a;
  --color-button-accent: #c05be0;
  --color-button-accent-2: #e0c0ff;
  --color-button-default: #8a3e8a;

  --color-text: #e0c0ff;
  --color-text-2: #8a3e8a;
  --color-accent-text: #e0c0ff;
  --color-active-nav-text: #8a3e8a;
  --color-hover-nav-text: #17131c;

  --color-accent: #ffcfab;
  --color-accent-muted: #ffe8d5;
  --color-unit-icon: #ffcfab;
  --color-success: #90f0d8;

  --color-border: #2a2134;
  --color-input-border: #c05be0;
  --color-disabled: #3d3346;
  --color-error: #ff7b85;

  --color-background-accent-2: #e0c0ff;
  --color-selection: #c05be0;
  --color-active-nav-item: #e0c0ff;
  --color-hover-nav-item: #e0c0ff;

  --color-tip: #e0c0ff;

  --radius-default: 0.5rem;

  --breakpoint-w-805: 805px;
}

body {
  background: var(--color-background);
  color: var(--color-accent-text);
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

.unit-button-shadow {
  box-shadow: none;
  &:hover {
    box-shadow: 4px 4px 0px var(--color-accent);
  }
}

.unit-button-shadow-disabled {
  box-shadow: none;
}

@keyframes text-bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  50% {
    transform: translateY(-40%);
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.animate-text-bounce {
  animation: text-bounce 1.2s infinite;
}

@keyframes appear-from-right {
  0% {
    transform: translateX(20px);
    scale: 0;
  }
  100% {
    transform: translateX(-16px);
    scale: 100%;
  }
}

.animate-appear-from-right {
  animation: appear-from-right 150ms ease-out forwards;
}
