@import "tailwindcss";
@theme {
  --color-bg: #2a2134;
  --color-fg: #17131c;
  --color-bg-accent: #8a3e8a;
  --color-bg-accent-2: #e0c0ff;
  --color-toast-bg: #4a3a5a;
  --color-toast-error-bg: #5a3a4a;
  --color-toast-success-bg: #3a4a5a;
  --color-text: #e0c0ff;
  --color-text-2: #8a3e8a;
  --color-accent: #ffcfab;
  --color-success: #90f0d8;
  --color-error: #ff7b85;
  --color-disabled: #3d3346;

  --radius-default: 0.5rem;
  --breakpoint-w-805: 805px;

  --default-transition-timing-function: ;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

.unit-button-shadow {
  box-shadow: none;
  &:hover {
    box-shadow: 4px 4px 0px var(--color-accent);
  }
}

@keyframes text-bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  50% {
    transform: translateY(-40%);
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.animate-text-bounce {
  animation: text-bounce 1.2s infinite;
}

@keyframes appear-from-right {
  0% {
    transform: translateX(20px);
    scale: 0;
  }
  100% {
    transform: translateX(-16px);
    scale: 100%;
  }
}

.animate-appear-from-right {
  animation: appear-from-right 150ms forwards;
}
