@import "tailwindcss";
@theme {
  --color-background: #211e24;
  --color-foreground: #161319;
  --color-input: #161319;
  --color-button: #161319;
  --color-button-accent: #d6c8a3;
  --color-accent-text: #d6c8a3;
  --color-darker-text: #665e5a;
  --color-text: #5b578e;
  --color-accent: #de886b;
  --color-error: #de886b;
  --color-accent-border: #d6c8a3;
  --color-popup: #161319;
  --color-border-dark: #211e24;
  --breakpoint-w-805: 805px;
}

body {
  background: var(--color-background);
  color: var(--color-accent-text);
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}
